{% extends 'base.html.twig' %}

{% block title %}Chapelle-Curreaux{% endblock %}

{% block body %}
{# <div class="container"> #}
{% include "home/nav.html.twig" %}
{% include "home/card.html.twig" %}
{% include "home/welcome.html.twig" %}
{% include "home/footer.html.twig" %}
{# </div> #}
{% endblock %}
